html{
    padding:0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding:12px;

}

.header{
    width:100%;
    object-fit: contain;
    height: auto;
    padding-top:20px;
    padding-bottom:20px;
    
}

.card{
    padding:12px;
}